@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 1200px) {
	
#worktitle {
	font-size:40px;
}

#abouttitle {
	font-size:40px;
}
		
	
}

@media screen and (max-width: 1000px) {
	
#worktitle {
	font-size:30px;
}

#abouttitle {
	font-size:30px;
}
		
}

@media screen and (max-width: 900px) {
	
#next {
	font-size:12px;
}

#prev {
	font-size:12px;
}

.ptitle p {
	font-size:20px;
}

.pjob p {
	font-size:12px;
}
	
}

@media screen and (max-width: 800px) {
	
#main {
	width:100%;
	margin-left:0;
}
	
#nav {
	height:7em;
	width:100%;
	float:none;
	border-right:none;
}

h1 {
	padding-top:15px;
	display:block;
	width:100%;
	text-align:center;
	margin:0;
}

h4 {
	width:100%;
	text-align:center;
	margin:0;
}

#nav ul {
	padding-top:10px;
	padding-left:0;
	margin:auto;
	width:70%;
}

#nav li {
	display:inline-block;
	width:calc(25% - 8px);
	text-align:center;
}

#nav li:hover {
	margin-left:0;
}

#work {
	width: 80%;
	top:0;
	z-index:-1;
	
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}

#about {
	width: 80%;
	top:0;
	z-index:-1;
	
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}
	
.worktext {
	margin: 0 15px;
}

#abouttext {
	margin: 0 15px;
}

#socials {
	width:100%;
	text-align:center;
	position:fixed;
	display:block;
	bottom:0em;
}

#socials2 {
	display:none;
}

.fa {
    padding:10px;
	margin:0;
	display:inline-block;
	position:relative;
	top:50%;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);  
	-o-transform: translateY(-50%);   
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);
}

.fa-facebook {
	margin:0;
}

#pprojholder {
	left:-12.5%;
	width:27%;
}

#nprojholder {
	right:-12.5%;
	width:27%;
}

#next {
	font-size:15px;
}

#prev {
	font-size:15px;
}

}

@media screen and (max-width: 550px) {

#worktitle {
	font-size:24px;
}

#abouttitle {
	font-size:24px;
}

.ptitle p {
	font-size:16px;
}

.pjob p {
	font-size:10px;
}

}

@media screen and (max-width: 460px) {
	
#pprojholder {
	height:3em;
	margin-top:-3em;
	z-index:-1;
}

#nprojholder {
	height:3em;
	margin-top:-3em;
	z-index:-1;
}	

#prev {
	font-size:12px;
}

#next {
	font-size:12px;
}
	
#workimg {
	margin-top:2.5em;
	width:100%;
	z-index:0;
	
}
	
#aboutimg {
	margin-top:2.5em;
	width:100%;
}

.title {
	width: 100%;
	background-color:transparent;
	margin-left:0;
	margin-top:0;
	text-align:center;
	font-size:34px;
	
	-moz-transform: none;  
	-o-transform: none;  
	-webkit-transform: none;  
	-ms-transform: none; 
	transform: none;
}

#worktitle, #abouttitle {
	margin-left:0;
	margin-top:0.75em;
	font-size:34px;
	
	-moz-transform: none;  
	-o-transform: none;  
	-webkit-transform: none;  
	-ms-transform: none; 
	transform: none;

}
	
.ptitle p {
	font-size:15px;
}
	
}
