@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 1200px) {
	
#worktitle {
	font-size:40px;
}

#landingtitle {
	font-size:25px;
}

#abouttitle {
	font-size:35px;
}
	
.landingop {
	margin-left:-20px;
}

.landingop:hover {
	margin-left:-35px;
}

.workop {
	margin-left:-20px;
}

.workop:hover {
	margin-left:-35px;
}
	
.ptitle p {
	font-size:18px;
}

.pjob p {
	font-size:12px;
}
}

@media screen and (max-width: 1000px) {
	
#nav {
	overflow:scroll;
}

#whitefiller {
	overflow:scroll;
}
	
#worktitle {
	font-size:30px;
}

#landingtitle {
	font-size:17px;
}

#abouttitle {
	font-size:25px;
}
		
.landingop {
	font-size:13px;
	margin-left:-10px;
}		
	
.landingop:hover {
	margin-left:-25px;
}	

.workop {
	font-size:12px;
	margin-left:-10px;
}		
	
.workop:hover {
	margin-left:-25px;
}	

.pprev p, .pnext p {
	font-size:25px;
}


}

@media screen and (max-width: 900px) {
	
#next {
	font-size:12px;
}

#prev {
	font-size:12px;
}

#nextwork {
	font-size:12px;
}

#prevwork {
	font-size:12px;
}

.ptitle p {
	font-size:15px;
}

.pjob p {
	font-size:10px;
}
	
}

@media screen and (max-width: 800px) {
	
#main {
	width:100%;
	margin-left:0;
}
	
#nav {
	height:9.5em;
	width:100%;
	float:none;
	border-right:none;
	overflow:visible;
}

#whitefiller {
	height:9.5em;
	width:100%;
	float:none;
	border-right:none;
	overflow:visible;
}

h1 {
	padding-top:15px;
	display:block;
	width:100%;
	text-align:center;
	margin:0;
}

h4 {
	width:100%;
	text-align:center;
	margin:0;
}

#nav ul {
	padding-top:10px;
	padding-left:0;
	margin:auto;
	width:80%;
}

#nav li {
	display:inline-block;
	width:calc(20% - 8px);
	text-align:center;
}

#nav li:hover {
	margin-left:0;
}

#work {
	width: 80%;
	top:0;
	z-index:-1;
	
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}

#landing {
	width: 80%;
	top:0;
	z-index:0;
	
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}

#about {
	width: 80%;
	top:0;
	z-index:-1;
	
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}

#abouttext, .landingtext, .worktext {
	margin: 0 15px 10px 15px;
}

#socials {
	width:100%;
	text-align:center;
	position:fixed;
	display:block;
	bottom:0em;
}

#socials2 {
	display:none;
}

.fa {
    padding:10px;
	margin:0;
	display:inline-block;
	position:relative;
	top:50%;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);  
	-o-transform: translateY(-50%);   
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);
}

#pprojholder {
	left:-12.5%;
	width:27%;
}

#nprojholder {
	right:-12.5%;
	width:21%;
}

#pholder {
	left:-12.5%;
	width:27%;
}

#nholder {
	right:-12.5%;
	width:27%;
}

#next {
	font-size:15px;
}

#prev {
	font-size:15px;
}

#nextwork {
	font-size:15px;
}

#prevwork {
	font-size:15px;
}

#landingtitle {
	font-size:19px;
}

#workimg, #aboutimg, #landingimg {
	width:70.71%;
}

.ptitle p {
	font-size:22px;
}

.pjob p {
	font-size:12px;
}

.landingop {
	font-size:13px;
}
}

@media screen and (max-width: 550px) {

#worktitle {
	font-size:24px;
}

#landingtitle {
	font-size:16px;
}

#abouttitle {
	font-size:24px;
}

.ptitle p {
	font-size:16px;
}

.pjob p {
	font-size:10px;
}

#landingimg {
	margin-top:-2em;
}

.landingop {
	font-size:11px;
}

}

@media screen and (max-width: 460px) {
	
#nav {
	height:9em;
}

#whitefiller {
	height:9em;
}
	
#nav ul {
	width:90%;
}

#socials {
	height:2.5em;
}
	
span {
	font-size:14px;
	padding-top:3em;
}
	
#nav li {
	font-size:12px;
}
	
#pprojholder {
	height:3em;
	margin-top:-3em;
	z-index:1;
	background:none;
}

#nprojholder {
	height:3em;
	margin-top:-3em;
	z-index:1;
	background:none;
}

#pholder {
	display:none;
}

#nholder {
	height:3em;
	margin-top:-5em;
	width:100%;
	z-index:1;
	background:none;
	left:0;
}	

#nholder p {
	height:33%;
	width:100%;
	display:inline-block;
	margin-left:0;
	text-align:center;
	top:0;
}

#prev {
	font-size:12px;
	font-weight:400;
}

#next {
	font-size:12px;
	font-weight:400;
}

#prevwork {
	font-size:14px;
	font-weight:300;
	display:block;
}

#nextwork {
	font-size:14px;
	font-weight:300;
	display:block;
}

.workop {
	display:none;
}
	
#workimg {
	width:100%;
	z-index:0;
}

#landingimg {
	width:100%;
	z-index:0;
	margin-top:0;
}
	
#aboutimg {
	width:100%;
}

#abouttext, .worktext, .landingtext {
	font-weight:300;
}

.title {
	width: 100%;
	background-color:transparent;
	margin-left:0;
	margin-top:0;
	text-align:center;
	font-size:34px;
	
	-moz-transform: none;  
	-o-transform: none;  
	-webkit-transform: none;  
	-ms-transform: none; 
	transform: none;
}

#abouttitle {
	margin-left:0;
	margin-top:0.75em;
	font-size:34px;
	
	-moz-transform: none;  
	-o-transform: none;  
	-webkit-transform: none;  
	-ms-transform: none; 
	transform: none;
}

#worktitle {
	margin-left:0;
	margin-top:0.25em;
	font-size:34px;
	
	-moz-transform: none;  
	-o-transform: none;  
	-webkit-transform: none;  
	-ms-transform: none; 
	transform: none;
}
	
#landingtitle {
	display:none;
}
	
.ptitle p {
	font-size:15px;
}
	
}

@media screen and (max-height: 600px) and (max-width: 800px) {
	
#landingimg {
	margin-top:3em;
}

#workimg {
	margin-top:3em;
}

#aboutimg {
	margin-top:3em;
}

#nholder {
	margin-top:-2em;
}

#counter {
	margin-top:1em;
}

#abouttitle {
	margin-top:0.5em;
}

#worktitle {
	margin-top:0.25em;
}

#nprojholder, #pprojholder {
	margin-top:0em;
}
	
}

@media screen and (max-height: 500px) and (max-width: 800px) {
	
#landingimg {
	margin-top:8em;
}

#workimg {
	margin-top:8em;
}

#nprojholder, #pprojholder {
	margin-top:5em;
}

#counter {
	margin-top:6em;
}

#aboutimg {
	margin-top:8em;
}

#nholder {
	margin-top:2em;
}
	
}

@media screen and (max-width: 320px) {
	
#worktitle {
	margin-top:-0.5em;
}

.ptitle p {
	font-size:12px;
}

.pjob p {
	font-size:9px;
}
	
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
	
#landingimg {
	margin-top:-3em;
}

#workimg {
	margin-top:-4em;
}

#worktitle {
	margin-top:0em;
}

#nprojholder, #pprojholder {
	margin-top:-7.5em;
}

#counter {
	margin-top:-6.5em;
}

#aboutimg {
	margin-top:-4em;
}

#abouttitle {
	margin-top:0.25em;
}

#nholder {
	margin-top:-9em;
}

}