@charset "UTF-8";

.preload { opacity: 0; position: absolute; top: -9999px; left: -9999px; display:none;}

body {
	font-family: 'Roboto Mono';
	width:100%;
	height:100%;
	margin:0;
  	padding:0;
}

#containerwork {
	width:100%;
	overflow-x:hidden;
	position:absolute;
	top:0;
	left:0;
}

/*navigation*/

#nav {
	height:100vh;
	width:20em;
	display:block;
	position:fixed;
	float:left;
	border-right: 1px dashed rgba(170,170,170,1.0);
	z-index:3;
	background-color:rgba(213,213,213,0.3);
	overflow:scroll;
}

#whitefiller {
	height:100vh;
	width:20em;
	display:block;
	position:fixed;
	float:left;
	z-index:2;
	background-color:white;
}

#nav li a {
	text-decoration:none;
	color:black;
}

h1 {
	margin:0;
	margin-left:40px;
	padding-top:170px;
	font-weight:200;
}

h1 a {
	text-decoration:none;
	color:rgba(0,0,0,1.00);
}

h1 a:hover {
	cursor:pointer;
}

h4 {
	margin:0;
	margin-left:40px;
	color:rgba(156,156,156,1.00);
	font-weight:100;
}

#nav ul {
    list-style-type:none;
	margin-top:120px;
}

#nav li {
	width:60%;
	transition: margin-left 200ms ease-in-out 0s;
	-webkit-transition: margin-left 200ms ease-in-out 0s;
    -moz-transition: margin-left 200ms ease-in-out 0s;
	-o-transition: margin-left 200ms ease-in-out 0s;
	font-weight:100;
	font-size:14px;
}

#nav li:hover {
	cursor:pointer;
	margin-left:5px;
	color:rgba(156,156,156,1.00);
}

#contact a {
	text-decoration:none;
	color:rgba(0,0,0,1.00);
}

#contact a:hover {
	color:rgba(156,156,156,1.00);
}

.fa {
	margin-top:120px;
    padding:2px;
    font-size: 30px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
	display:inline-block;
	
	transition: all 250ms ease-in-out 0s;
	-webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
	-o-transition: all 250ms ease-in-out 0s;
}

.fa:hover {
    opacity: 0.6;
	cursor:pointer;
}

.fa-twitter {
	margin-left:40px;
    color: black;
}

.fa-instagram {
    color: black;
}

/* Main Content */

#main {
	width:calc(100% - 20em - 1px);
	margin-left:20em;
	display:inline-block;
	float:left;
	overflow:scroll;
}

.text {
	position:relative;
	width: calc(100% + 2px);
	min-height:20%;
	margin-left: -1px;
	background-color:white;
	padding-bottom:5em;
	font-size:14px;
}

.text p a {
	text-decoration:none;
	color:rgba(6,151,16,1.00);
}

.text p a:hover{
	text-decoration:underline;
}


.title {
	position:absolute;
	width: 50%;
	background-color:white;
	margin-left:-15%;
	margin-top:-13%;
	top:-50%;
	z-index:1;
	
	-moz-transform: rotate(-25deg);  
	-o-transform: rotate(-25deg);  
	-webkit-transform: rotate(-25deg);  
	-ms-transform: rotate(0deg);  
	transform: rotate(-25deg);
}

#socials {
	display:none;
	background-color:white;
	height:5em;
	width:100%;
}

/* Landing */

#landing {
	width:calc(100% - 20em);
	height:inherit;
	z-index:2;
	position:absolute;
	opacity:0;
}

#landing ul {
	list-style-type:none;
	color:white;
	margin-top:0;
	padding:0;
	width:100%;
	position:absolute;
}

#landing li {
	width:inherit;
	position:absolute;
	top:0;
	left:0;
	background-size:40%;
	background-image:url(FLV1.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	opacity:0;
	margin-left:-60%;
}

#landing #now {
	background-image:url(The%20Interview/1.jpg);
	background-size:100%;
	opacity:1;
	margin-left:0%;
}

#landing #then {
	background-image:url(Copper%20And%20Steel/1.jpg);
}

#landing #future {
	background-image:url(emma.jpg);
}

#pholder {
	height:100vh;
	width:14.645%;
	position:absolute;
	background-color:white;
}

#nholder {
	height:100vh;
	width:14.645%;
	position:absolute;
	right:0;
	background-color:white;
}

.landingop {
	width:100%;
	display:inline-block;
	margin:0;
	position:relative;
	margin-left:-30px;
	text-align:right;
	font-weight:200;
	font-size:14px;
	
	transition: margin-left 200ms ease-in-out 0s, font-weight 0ms ease-in-out 0s;
	-webkit-transition: margin-left 200ms ease-in-out 0s, font-weight 0ms ease-in-out 0s;
    -moz-transition: margin-left 200ms ease-in-out 0s, font-weight 0ms ease-in-out 0s;
	-o-transition: margin-left 200ms ease-in-out 0s, font-weight 0ms ease-in-out 0s;
}

.landingop:hover {
	margin-left:-45px;
	cursor:pointer;
	color:rgba(70,140,231,1.00);
	font-weight:300;
}

#next {
	position:relative;
	color:rgba(70,140,231,1.00);
	z-index:3;
	margin:auto;
	text-align:center;
	top:50%;
	font-weight:100;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);  
	-o-transform: translateY(-50%);   
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);
}

#prev {
	color:rgba(70,140,231,1.00);
	z-index:3;
	margin:auto;
	text-align:center;
	top:50%;
	font-weight:100;	
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);  
	-o-transform: translateY(-50%);   
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);
	position:relative;
}

#next:hover {
	color:rgba(170,170,170,1.0);
	cursor:pointer;
}

#prev:hover {
	color:rgba(170,170,170,1.0);
	cursor:pointer;
}

#landingimg {
	position:absolute;
	width: calc(60%);
	z-index:0;
	max-width:700px;
	left: 50%;
	
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}

#landingimg .text {
	top:85%;
	display:block;
}

#landingimg .title {
	top:-25%;
}

#landingimg .text p[data-id="1"] {
	opacity:1;
	display:block;
}

#landingtitle {
	margin-left:-20%;
	margin-top:82%;
	font-size:32px;
	font-weight:300;
	color:rgba(70,140,231,1.00);
	
	-moz-transform: rotate(25deg);  
	-o-transform: rotate(25deg);  
	-webkit-transform: rotate(25deg);  
	-ms-transform: rotate(0deg);  
	transform: rotate(25deg);
}

#container {
	width:100%;
	overflow-x:hidden;
	position:absolute;
	top:0;
	left:0;
}

.landingtext {
	text-align:center;
	opacity:0;
	padding-top:20px;
	margin: 0 40px;
	color:rgba(70,140,231,1.00);
	font-weight:300;
}

#landing .text p {
	opacity:0;
	display:none;
}

/* Work */

#work {
	width:calc(100% - 20em);
	height:inherit;
	z-index:1;
	position:absolute;
}

#work ul {
	list-style-type:none;
	color:white;
	margin-top:0;
	padding:0;
	width:100%;
	position:absolute;
}

#work .text p {
	opacity:0;
	display:none;
}

#work #project0 {
	background-image:url(Copper%20And%20Steel/1.jpg);
	background-size:100%;
	opacity:1;
	margin-left:0%;
}

#work #project1 {
	background-image:url(The%20PRU%20Project/1.jpg);
}

#work #project2 {
	background-image:url(Normal/1.jpg);
}

#work #project3 {
	background-image:url(The%20H%20Word/1.jpg);
}

#work #project4 {
	background-image:url(Scan%20Artists/1.jpg);
}

#work #project5 {
	background-image:url(This%20House/1.jpg);
}

#work #project6 {
	background-image:url(Mcqueen/1.jpg);
}

#work #project7 {
	background-image:url(The%20Sound%20Of%20Yellow/1.jpg);
}

#work #project8 {
	background-image:url(The%20Village/1.jpg);
}

#work #project9 {
	background-image:url(One%20For%20The%20Road/1.jpg);
}

#work li {
	width:inherit;
	position:absolute;
	top:0;
	left:0;
	background-image:url(vitebsk.jpg);
	background-size:40%;
	background-repeat:no-repeat;
	background-position:center;
	opacity:0;
	margin-left:60%;
}

#workimg {
	position:absolute;
	width: calc(60%);
	z-index:0;
	max-width:700px;
	left: 50%;
	
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}

#worktitle {
	margin-left:-10%;
	margin-top:85%;
	font-size:50px;
	font-weight:300;
	color:rgba(6,151,16,1.00);
	opacity:0;
	
	-moz-transform: rotate(25deg);  
	-o-transform: rotate(25deg);  
	-webkit-transform: rotate(25deg);  
	-ms-transform: rotate(0deg);  
	transform: rotate(25deg);

}

.worktext {
	text-align:center;
	opacity:0;
	padding-top:20px;
	margin: 0 40px;
	color:rgba(6,151,16,1.00);
	font-weight:300;
}

.workop {
	width:100%;
	margin:0;
	position:relative;
	margin-left:-25px;
	text-align:right;
	font-weight:200;
	font-size:14px;
	display:none;
	opacity:0;
	
	transition: margin-left 200ms ease-in-out 0s, font-weight 0ms ease-in-out 0s;
	-webkit-transition: margin-left 200ms ease-in-out 0s, font-weight 0ms ease-in-out 0s;
    -moz-transition: margin-left 200ms ease-in-out 0s, font-weight 0ms ease-in-out 0s;
	-o-transition: margin-left 200ms ease-in-out 0s, font-weight 0ms ease-in-out 0s;
}

.workop:hover {
	margin-left:-40px;
	cursor:pointer;
	color:rgba(6,151,16,1.00);
	font-weight:300;
}

#nextwork {
	position:relative;
	color:rgba(6,151,16,1.00);
	z-index:3;
	margin:auto;
	text-align:center;
	top:50%;
	display:none;
	opacity:0;
	font-weight:100;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);  
	-o-transform: translateY(-50%);   
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);
}

#prevwork {
	color:rgba(6,151,16,1.00);
	z-index:3;
	margin:auto;
	text-align:center;
	top:50%;
	display:none;
	opacity:0;
	font-weight:100;	
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);  
	-o-transform: translateY(-50%);   
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);
	position:relative;
}

#nextwork:hover {
	color:rgba(170,170,170,1.0);
	cursor:pointer;
}

#prevwork:hover {
	color:rgba(170,170,170,1.0);
	cursor:pointer;
}

#pprojholder {
	height:100vh;
	width:14.645%;
	position:absolute;
	background-color:white;
}

#nprojholder {
	height:100vh;
	width:14.645%;
	position:absolute;
	right:0;
	background-color:white;
}

#counter {
	display:none;
	position:absolute;
	top:0;
	width:100%;
	height:2em;
	background-color:white;
	margin-top:-2em;
}

#counter p {
	position:relative;
	color:rgba(6,151,16,1.00);
	margin:auto;
	text-align:center;
	top:50%;
	display:block;
	opacity:0;
	font-size:12px;
	font-weight:300;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);  
	-o-transform: translateY(-50%);   
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);
}

.pprev {
	bottom:15%;
	position:absolute;
	left: -1px;
	background:white;
}

.pprev p {
	color:rgba(0,0,0,1.00);
	margin:0px 15px;
	position:relative;
	font-size:34px;
	font-weight:300;
	z-index:3;
	cursor:pointer;
}

.pnext {
	bottom:15%;
	position:absolute;
	right: -1px;
	background:white;
	z-index:3;
	cursor:pointer;
}

.pnext p {
	color:rgba(0,0,0,1.00);
	margin:0px 15px;
	position:relative;
	font-size:34px;
	font-weight:300;
}

.pjob {
	bottom:15%;
	position:absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
	background:white;
}

.pjob p {
	color:rgba(0,0,0,1.00);
	margin:5px 10px;
	position:relative;
	font-size:15px;
	font-weight:100;
}


.ptitle {
	bottom:15%;
	position:absolute;
	left: 50%;
	text-align:center;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
	background:white;
}

.ptitle p {
	color:rgba(0,0,0,1.00);
	margin:5px 10px;
	position:relative;
	font-size:24px;
	font-weight:300;
}

/* About */

#about {
	width:calc(100% - 20em);
	height:inherit;
	z-index:-1;
	position:absolute;
	opacity:0;
}

#abouttext {
	text-align:center;
	opacity:0;
	padding-top:20px;
	margin: 0 40px;
	color:#bc2a8d;
	font-weight:300;
	
}

#abouttitle {
	margin-left:-10%;
	margin-top:85%;
	font-size:45px;
	font-weight:300;
	color:#bc2a8d;
	opacity:0;
	
	-moz-transform: rotate(25deg);  
	-o-transform: rotate(25deg);  
	-webkit-transform: rotate(25deg);  
	-ms-transform: rotate(0deg);  
	transform: rotate(25deg);
}

#aboutimg {
	position:absolute;
	width: calc(60%);
	background-color:rgba(201,64,154,1.00);
	background-image:url(emma.jpg);
	background-size:cover;
	z-index:-2;
	max-width:700px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);  
	-o-transform: translateX(-50%);   
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}